
/* Animation styles */

@keyframes beam {
  from {
    opacity: 0;
    transform: translateX(-100%) skewX(-10deg);
  }
  to {
    opacity: 0.15;
    transform: translateX(100%) skewX(-10deg);
  }
}

@layer utilities {
  .beam {
    @apply absolute inset-0 w-full h-full z-0;
  }
  
  .beam::after {
    content: '';
    @apply absolute inset-0 w-full h-full bg-lumenBlue opacity-0 skew-x-12;
    animation: beam 3.5s ease-in-out infinite;
  }
}
