
/* Base styles */

@layer base {
  * {
    @apply border-border;
  }
  
  /* Update App styles */
  #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 100%;
  }

  /* Buttons and interactive elements with sleek transitions */
  button, 
  a, 
  input, 
  select, 
  textarea {
    transition: all 0.2s ease-out;
  }
}
